<!DOCTYPE html>
<html>
    <head lang="hu">
		<meta charset="UTF-8">
		<title>Gyakornoki feladat</title>
		<meta name="author" content="Bicskei Dániel" />
		<meta name="keywords" content="it, programming, email, database, javascript, symfony, engineering, html, css" />
		<meta name="description" content="Email küldő applikáció" />
        <link href="{{ asset('css/forma.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
			<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
    </body>
</html>
